* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  background-image: url(./img/_27eb585a-100f-474d-994a-9e104ad032d0.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.bigtext {
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 50%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 24px;
  color: #333;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  background-color: #f1f5f1;
  border-radius: 5px;
  opacity: 0.8;
}

form {
  width: 80%;
  max-width: 500px;
  margin: 50px auto 20px; /* Ajoutez une marge en haut du formulaire */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}


#currency {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center; /* Ajustez pour centrer horizontalement */
  margin-bottom: 15px;
}

.fas {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin: 0 10px; /* Ajustez l'espace autour de l'icône pour centrer verticalement */
}

.selectCurrency {
  flex: 1;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}


.convert {
  width: 100%;
  height: 80px;
  background-color: rgb(175, 122, 76);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.finalAmount {
  color: #333;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 10px;
}

@media screen and (max-width: 450px) {
  form {
      width: 90%;
  }
}
